{% extends 'base.html' %}

{% block content %}

    <main class="container">
        <div class="row">
            <div class="col-md-7 offset-md-5 md-5">
                <h1 class="mt-5">{{mascota.nombre}}</h1>

                {{error}}


                <div class="col-md-7 offset mt-10">
                    <form method="POST" class="card card-body">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button class="btn btn-outline-warning bi bi-pencil-square">
                            Actualizar
                        </button>
                    </form>
                    <br>  
                    
                    <form action="{% url 'delete_mascota' mascota.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger bi bi-trash3-fill">
                            Eliminar
                        </button>
                    </form>
                </div> 
            </div>
        </div>
    </main> 

{% endblock %}